body {background-color: #E3E2DF;
}

 .distill-site-nav  {
  color: #FFFFFF;
  background-color: #5D001E;
  font-family:"Monospace", cursive, Sans-Serif ;
   }

.distill-site-header {
  --title-size:       20px;                      
  --text-color:       #FFFFFF;                   
  --text-size:        20px;                      
  --hover-color:      #383838;                   
  --bkgd-color:       #D36060;          
}

h1 {
  font-family: "Monospace", cursive, Sans-Serif;
}

tr:hover {background-color: #F6C5AF;}

th {
  background-color: #C2714F;
  color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
}